    GLOBAL_SETTINGS
    LAB_MASTER_SEED dsa7_student_master_seed
    REGISTRY tungpt171
NETWORK SUBNET
     MASK 192.168.100.0/24
     GATEWAY 192.168.100.1
CONTAINER dsa7
     USER ubuntu
     X11 YES
     SUBNET 192.168.100.130
CONTAINER dsa7send
     USER ubuntu
     X11 YES
     PASSWORD 123@123a
     SUBNET 192.168.100.132
