    GLOBAL_SETTINGS
    LAB_MASTER_SEED dsa5_student_master_seed
    REGISTRY tungpt171
NETWORK SUBNET
     MASK 17.10.0.0/24
     GATEWAY 17.10.0.1
CONTAINER dsa5client
     USER ubuntu
     X11 YES
     PASSWORD 456789@a
     SUBNET 17.10.0.12
CONTAINER dsa5center
     USER ubuntu
     X11 YES
     PASSWORD 123@123a
     SUBNET 17.10.0.10
CONTAINER dsa5server
     USER ubuntu
     X11 YES
     PASSWORD 123456@a
     SUBNET 17.10.0.11
