    GLOBAL_SETTINGS
    LAB_MASTER_SEED dsa3_student_master_seed
    REGISTRY tungpt171
NETWORK SUBNET
     MASK 15.10.0.0/24
     GATEWAY 15.10.0.1
CONTAINER dsa3
     USER ubuntu
     X11 YES
     SUBNET 15.10.0.10
CONTAINER dsa3send
     USER ubuntu
     X11 YES
     PASSWORD 123@123a
     SUBNET 15.10.0.12
